name: SMOKE

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ok:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: |
          echo "Repository: $GITHUB_REPOSITORY"
          echo "Ref: $GITHUB_REF"
